.cmb2-postbox .cmb2-wrap > .cmb-field-list > .cmb-row,
.cmb-type-group .cmb-row, .cmb2-postbox .cmb-row,
#side-sortables .cmb2-wrap > .cmb-field-list > .cmb-row{
    padding-top: 5px;
    padding-bottom: 10px;
}

.cmb-type-group .cmb-row, .cmb2-postbox .cmb-row{
    margin-bottom: 5px;
}

.postbox{
    padding-top: 0px!important;
}

#poststuff .inside,
.cmb2-wrap .cmb-row.cmb-repeat .cmb2-metabox-description{
    padding-bottom: 0px;
}

#post-body-content{
    margin-bottom: 0px;
}

#side-sortables .cmb-th{
    padding-bottom: 0px;
}

#side-sortables .cmb-row .cmb2-metabox-description{
    padding-bottom: 5px;
}

#_checkout_status_payment{
    width: 100%;
}