/*
| -------------------------------------------------------------------------------------
| POST TYPE SCHEDULE RATES
| -------------------------------------------------------------------------------------
*/
table.table-metabox {
    border-collapse: collapse;
    width: 100%;
}

table.table-metabox tr td,
table.table-metabox tr th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #FFF;
}

table.table-metabox tr th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #001B48;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

table.table-metabox tr td{
    vertical-align: top;
}

table.table-metabox tr:nth-child(even) {
    background-color: #f2f2f2;
}

#cmb2-metabox-dive_spot_metaboxes .select2-container {
    width: 200px !important;
}

#menu-posts-trip_report div.wp-menu-image::before {
    content: '';
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    opacity: 0.65;
}

#adminmenu .wp-has-current-submenu div.wp-menu-image::before{
    opacity: 1;
}

#menu-posts-trip_report div.wp-menu-image::before{
    background-image: url('../../images/admin-icons/trip_report.png');
}

@media(max-width: 1980px){
    #schedule_rate_table{
        width: 110%;
    } 
}

@media(max-width: 1500px){
    #schedule_rate_table{
        width: 130%;
    }
}
.wrap-table-metabox-itenerary {
    border: 1px solid #eeeeee;
    padding: 10px;
    margin-top: 20px;
}

.wrap-table-metabox-itenerary:last-child {
    margin-bottom: 10px;
}

.wrap-table-metabox-itenerary h3 {
    margin: 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

button.button-metabox {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: 2px 10px;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.wrap-table-metabox-itenerary .cmb-th,
.wrap-table-metabox-itenerary .cmb-td {
    padding: 5px 10px 5px 0;
}

.wrap-table-metabox-itenerary table.table-metabox {
    margin-top: 15px;
}

.btn-metabox {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-edit-metabox {
    background-image: url('../../images/admin-icons/edit.png');
}

.btn-delete-metabox {
    background-image: url('../../images/admin-icons/delete.png');
}

.wrap-schedule-rate button {
    margin-bottom: 10px !important;
}

.wrap-schedule-rate p {
    margin: 0;
    padding: 0;
}

.wrap-schedule-rate .cmb-th,
.wrap-schedule-rate .cmb-td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.wrap-schedule-rate .cabin td {
    padding: 0;
}

.wrap-schedule-rate .button-add-row {
    float: right;
    padding: 0 15px;
    margin-top: 20px;
}

.wrap-schedule-rate .container-schedule-rate {
    position: relative;
}

.wrap-schedule-rate .container-schedule-rate .icon-validation {
    width: 30px;
    height: 30px;
    float: right;
    background-repeat: no-repeat;
    background-size: 30px;
    display: none;
}

.wrap-schedule-rate .container-schedule-rate table .icon-validation{
    width: 20px;
    height: 20px;
    background-size: 20px;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: -1px;
}

.wrap-schedule-rate .container-schedule-rate table tr td{
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    transition: background-color .15s linear;
}

.wrap-schedule-rate .container-schedule-rate table tr:nth-child(odd) td{ background-color:#f5f5f5; }

.wrap-schedule-rate .container-schedule-rate table tr.error td{
    background-color: #f2dede;
    border: 1px solid #eee;
}

.wrap-schedule-rate .container-schedule-rate .icon-validation.complete{
    background-image: url('../../images/icon-tick.svg');
}

.wrap-schedule-rate .container-schedule-rate .icon-validation.not-complete{
    background-image: url('../../images/icon-cross.svg');
}

/* .wrap-schedule-rate table{
    position: relative;
} */

.wrap-schedule-rate .delete_schedule_data {
    border: none;
    background: none;
    cursor: pointer;
    float: left;
}

.wrap-schedule-rate .button-add-row img {
    width: 10px;
    height: 10px;
}

.wrap-schedule-rate select.field_schedule {
    width: 100%;
}

.wrap-schedule-rate select.field_select {
    width: 100%;
    margin-top: 15px;
}

.wrap-schedule-rate .field_date {
    width: 100%;
}

.field_schedule.error{
    border: 1px solid red;
}

.width50 {
    width: 50px;
}

.width60 {
    width: 60px;
}

.width70 {
    width: 70px;
}

.width90 {
    width: 90px;
}

.width100 {
    width: 100px;
}

.width110 {
    width: 110px;
}

.width115 {
    width: 115px;
}

.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.clear {
    clear: both;
}

.recommended-size-box {
    font-style: italic;
    color: #666;
}

.copy-link {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.copy-link img {
    width: 20px;
    height: 20px;
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hidden_input{
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 0;
}

.cmb2-wrap .cmb-field-list input.regular-text, 
.cmb2-wrap .cmb-field-list input.cmb2-text-medium, 
.cmb2-wrap .cmb-field-list textarea{
    width: 100%;
}

.cmb2-wrap .select2-container .select2-selection--single{
    height: 30px;
}

.cmb2-wrap .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 30px;
}

.cmb2-wrap .select2-container--default .select2-selection--single .select2-selection__clear{
    top: -3px;
}

.cmb-repeatable-group.non-repeatable .cmb-group-title{
    padding-left: 12px;
}